body{
    background: url(/images/images/Patitos.png);
    background-size: cover;
    background-position: center;
    font-family: 'Edu Australia VIC WA NT Hand Guides', cursive;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
}

h1{
    font-family:'Edu AU VIC WA NT Guides', cursive;
    font-size:38px;
    font-weight:500;
}

.flecha {
    font-weight: bold;
    font-size: 30px;
    padding-left: 10px;
    text-decoration:none;
}

.registro-container{

    background:#FFFCEE;

    width:330px;

    padding:0px 30px 30px 0px;

    border-radius:12px;

    box-shadow:0 8px 15px rgba(0,0,0,.15);

}

.form-title{

    font-family:'Edu AU VIC WA NT Guides', cursive;

    font-size:40px;

    text-align:center;

    margin-bottom:25px;

    padding-left: 30px;

}

.form-group{
    padding-left: 30px;
    margin-bottom:18px;

}

.form-group label{

    display:block;

    margin-bottom:8px;

    font-size:16px;

    font-weight:bold;

    color:#333;

}

input[type="text"],
input[type="email"],
input[type="password"]{

    width:100%;

    padding:12px;

    border:2px solid #DDD;

    border-radius:8px;

    box-sizing:border-box;

    font-size:15px;

    transition:.25s;

    outline:none;

}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus{

    border-color:#D4AF37;

    box-shadow:0 0 8px rgba(212,175,55,.30);

}

.btn-register-container{

    padding-left: 30px;
    margin-top:25px;

}

.btn-register{

    width:100%;

    padding:12px;

    background:#D4AF37;

    color:white;

    border:none;

    border-radius:8px;

    font-size:16px;

    font-weight:bold;

    cursor:pointer;

    transition:.25s;

}

.btn-register:hover{

    background:#c79d1f;

}

.link-crear{

    text-align:center;
    padding-left: 30px;
    margin-top:20px;

}

.link-crear a{

    color:#D4AF37;

    text-decoration:none;

    font-weight:bold;

}

.link-crear a:hover{

    text-decoration:underline;

}